* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    height: 100vh;
    border: 1px solid black;
}

header {
    height: 25%;
}

.headerBox.left{
    border: 1px solid black;
    height: 100%;
    width: 20%;
}

.headerBox {
    float: left;
    border: 1px solid black;
    height: 100%;
    width: 80%;
}

main {
    height: 50%;
}

.mainBox.sidebar{
    width: 20%;
}

.mainBox {
    width: 60%;
    height: 100%;
    float: left;
    border: 1px solid black;
}

footer {
    height: 25%;
    border: 1px solid black;
}