* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    height: 100vh;
    border: 1px solid black;
}

header {
    height: 30%;
    border: 1px solid black;
}

main {
    height: 70%;
}

.box {
    float: left;
    height: 100%;
    width: 33.3%;
    border: 1px solid black;
}